h5py
typing-extensions
wheel
keras
tensorflow
tensorflow-addons
pandas
geopandas
folium
tqdm
numpy
scipy
matplotlib
japanize-matplotlib
opencv-python
plotly
seaborn
lightgbm
xgboost
scikit-learn
ginza
jupyterlab
spacy
timm
transformers
requests
lxml
beautifulsoup4
albumentations
gensim
joblib
pillow
librosa
tweepy
diffusers
kaggle
drawdata
autoviz
flaml
pycaret
autots
nlplot
jupyterlab-git
geocoder
geopy
geographiclib